<nav class="navbar navbar-light bg-transparent col-md-12 sticky-top" id="navbar">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img class="d-inline-block" alt="logo" id="logo" src="{{ asset('images/logo.png') }}">
    </a>



    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active font-weight-bold btn-outline-warning" href="#" data-toggle="modal" data-target="#modalSeConnecter">Se connecter</a>
        </li>
        <li class="nav-item ">
            <a class="liennavbar nav-link font-weight-bold" href="#">EN</a>
        </li>
        <li class="nav-item ">
            <a class="liennavbar nav-link font-weight-bold" href="#">Logout</a>
        </li>

    </ul>
</nav>
<br>
<br>
<br>
<br>